[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
boilerpy3 = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
tox = "*"
black = "*"
isort = "*"
pylint = "*"
ruff = "*"
